DestinyNumbersv2.xcodeproj/project.xcworkspace/xcuserdata/burnsoft.xcuserdatad/WorkspaceSettings.xcsettings
DestinyNumbersv2.xcodeproj/xcuserdata/burnsoft.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
DestinyNumbersv2.xcodeproj/xcuserdata/burnsoft.xcuserdatad/xcschemes/DestinyNumbersv2.xcscheme
DestinyNumbersv2.xcodeproj/xcuserdata/burnsoft.xcuserdatad/xcschemes/xcschememanagement.plist
